@model WebApplication1.Models.ViewModels.PetTypeVM

@{ 
    var title = "Create PetType";
}

<form method="post" enctype="multipart/form-data">
    @if (Model.PetType.PetTypeID != null)
    {
        title = "Edit PetType";
<input asp-for="PetType.PetTypeID" hidden />
                }
    
    <div class="border p-3">

        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PetType.PetTypeID"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="PetType.PetTypeID" class="form-control" />
                        <span asp-validation-for="PetType.PetTypeID" class="text-danger"></span>
                    </div>

                </div>
                
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            @if (Model.PetType.PetTypeID != null)
                            {//Update
                <input type="submit" class="btn btn-info w-100" value="Update" /> }
            else
            {//Create
            <input type="submit" onclick="return validateinput()" class="btn btn-info w-100" value="Create" />}
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>

@section Scripts{

    @{
                        <partial name="_ValidationScriptsPartial" /> }

}