@model WebApplication1.Models.Skill

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Skill Benefited</h2>
        </div>
    </div>


    <br /><br />
   
    @if (Model != null)
    {      
    <div class="row pt-4">
        <div class="col-6">
            <h3 width="50%" class="text-secondary" style="color: black !important;">@Model.Name</h3>
        </div>
    </div>
    }
    else
    {
    <p>Does not have a buffed skill.</p>
    }
    <div class="form-group row">
        <div class="col-1">
            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
        </div>
    </div>
</div>
