@{
    ViewData["Title"] = "Home Page";
}

@*<div style="background-image:url(../../wwwroot/images/1.jpg)"></div>*@
@*<img src="~/images/1.jpg" alt="" />*@
@*<div style="background-image:url('/images/1.jpg');"></div>*@
